.122_19 { 
	overflow:hidden;
}
.e122_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:826px;
	position:absolute;
}
.e122_20 { 
	width:1484px;
	height:835px;
	position:absolute;
	left:-121px;
	top:0px;
	background-image:url(images/valorant_mapas_rotacion_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e170_44 { 
	width:71px;
	height:19px;
	position:absolute;
	left:34px;
	top:117px;
}
.e122_71 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Dosis;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.141_18 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e141_18 { 
	width:95.5px;
	height:0px;
	position:absolute;
	left:23px;
	top:139px;
}
.e141_226 { 
	width:73px;
	height:75px;
	position:absolute;
	left:34px;
	top:30px;
	background-image:url(images/image_38.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.141_227 { 
	border:1px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e141_227 { 
	width:73px;
	height:73px;
	position:absolute;
	left:34px;
	top:31px;
}
.141_228 { 
	border:1px solid rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
}
.e141_228 { 
	width:79px;
	height:78px;
	position:absolute;
	left:31px;
	top:29px;
}
.e200_270 { 
	width:526px;
	height:39px;
	position:absolute;
	left:377px;
	top:56px;
}
.ei200_270_200_213 { 
	color:rgba(255, 0, 0, 1);
	width:59px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Dosis;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei200_270_200_214 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:23px;
	position:absolute;
	left:466px;
	top:0px;
	font-family:Dosis;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei200_270_200_215 { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:23px;
	position:absolute;
	left:327px;
	top:0px;
	font-family:Dosis;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei200_270_200_216 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:23px;
	position:absolute;
	left:121px;
	top:0px;
	font-family:Dosis;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.i200_270_200_217 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei200_270_200_217 { 
	width:525px;
	height:12px;
	position:absolute;
	left:1px;
	top:27px;
}
.e186_86 { 
	width:806px;
	height:343px;
	position:absolute;
	left:350px;
	top:104px;
}
.e186_87 { 
	width:207px;
	height:341px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei186_87_141_79 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:16px;
	position:absolute;
	left:92px;
	top:325px;
	font-family:Arimo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei186_87_141_168 { 
	background-image:linear-gradient(0deg, rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	opacity:0.6000000238418579;
	width:190px;
	height:321px;
	position:absolute;
	left:12px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei186_87_141_77 { 
	transform: rotate(180deg);
	width:207px;
	height:318px;
	position:absolute;
	left:207px;
	top:1px;
	background-image:url(images/image_32.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e186_88 { 
	transform: rotate(180deg);
	width:217px;
	height:341px;
	position:absolute;
	left:506px;
	top:0px;
}
.ei186_88_141_173 { 
	transform: rotate(180deg);
	color:rgba(255, 255, 255, 1);
	width:51px;
	height:16px;
	position:absolute;
	left:120px;
	top:325px;
	font-family:Arimo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei186_88_146_29 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1) 100%) ;
	opacity:0.6000000238418579;
	width:190px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei186_88_141_103 { 
	width:214px;
	height:309px;
	position:absolute;
	left:3px;
	top:5px;
	background-image:url(images/image_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e186_89 { 
	width:190px;
	height:343px;
	position:absolute;
	left:616px;
	top:0px;
}
.ei186_89_141_177 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:12px;
	position:absolute;
	left:68px;
	top:331px;
	font-family:Arimo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei186_89_141_169 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1) 100%) ;
	opacity:0.6000000238418579;
	width:190px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei186_89_141_107 { 
	width:175px;
	height:325px;
	position:absolute;
	left:11px;
	top:0px;
	background-image:url(images/image_34.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e186_151 { 
	width:210px;
	height:18px;
	position:absolute;
	left:946px;
	top:61px;
}
.e187_341 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.4000000059604645);
	width:210px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e187_342 { 
	color:rgba(255, 255, 255, 1);
	width:51.36690902709961px;
	height:11px;
	position:absolute;
	left:19px;
	top:3px;
	font-family:Arimo;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e186_152 { 
	width:13px;
	height:13px;
	position:absolute;
	left:7px;
	top:2px;
	background-image:url(images/image_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e187_344 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 0.5400000214576721);
	width:139px;
	height:20px;
	position:absolute;
	left:23px;
	top:211px;
}
.187_344 { 
	border:1px solid rgba(205.06250202655792, 205.06250202655792, 205.06250202655792, 1);
}
.e187_345 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:11px;
	position:absolute;
	left:69px;
	top:215px;
	font-family:Arimo;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e187_346 { 
	width:139px;
	height:20px;
	position:absolute;
	left:23px;
	top:379px;
}
.e187_347 { 
	background-color:rgba(170.0000050663948, 170.0000050663948, 170.0000050663948, 0.5400000214576721);
	width:139px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.187_347 { 
	border:1px solid rgba(205.06250202655792, 205.06250202655792, 205.06250202655792, 1);
}
.187_348 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e187_348 { 
	width:9px;
	height:7px;
	position:absolute;
	left:125px;
	top:7px;
}
.e187_349 { 
	color:rgba(255, 255, 255, 1);
	width:13px;
	height:11px;
	position:absolute;
	left:62px;
	top:4px;
	font-family:Arimo;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e187_350 { 
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:22px;
	position:absolute;
	left:27px;
	top:172px;
	font-family:Arimo;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.187_351 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e187_351 { 
	width:9px;
	height:7px;
	position:absolute;
	left:148px;
	top:218px;
}
.e186_139 { 
	width:218px;
	height:355px;
	position:absolute;
	left:356px;
	top:451px;
}
.ei186_139_186_120 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:11px;
	position:absolute;
	left:39px;
	top:344px;
	font-family:Arimo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei186_139_186_102 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1) 100%) ;
	opacity:0.6000000238418579;
	width:190px;
	height:321px;
	position:absolute;
	left:6px;
	top:13px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei186_139_186_106 { 
	width:218px;
	height:334px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_53.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e186_143 { 
	width:214px;
	height:342px;
	position:absolute;
	left:654px;
	top:464px;
}
.ei186_143_186_119 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:11px;
	position:absolute;
	left:48px;
	top:331px;
	font-family:Arimo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei186_143_186_101 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1) 100%) ;
	opacity:0.6000000238418579;
	width:190px;
	height:321px;
	position:absolute;
	left:12px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei186_143_186_104 { 
	width:214px;
	height:329px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/image_52.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e186_147 { 
	width:207px;
	height:342px;
	position:absolute;
	left:957px;
	top:464px;
}
.ei186_147_186_118 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:11px;
	position:absolute;
	left:50px;
	top:331px;
	font-family:Arimo;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.ei186_147_186_100 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 0) 0%,rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1) 100%) ;
	opacity:0.6000000238418579;
	width:190px;
	height:321px;
	position:absolute;
	left:9px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.ei186_147_186_99 { 
	width:207px;
	height:316px;
	position:absolute;
	left:0px;
	top:5px;
	background-image:url(images/image_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e235_177 { 
	width:23px;
	height:23px;
	position:absolute;
	left:1118px;
	top:481px;
}
.i235_177_235_149 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei235_177_235_149 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e235_179 { 
	width:23px;
	height:23px;
	position:absolute;
	left:820px;
	top:481px;
}
.i235_179_235_149 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei235_179_235_149 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e235_181 { 
	width:23px;
	height:23px;
	position:absolute;
	left:513px;
	top:481px;
}
.i235_181_235_149 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei235_181_235_149 { 
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e235_185 { 
	width:23px;
	height:23px;
	position:absolute;
	left:1118px;
	top:116px;
}
.ei235_185_235_154 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e235_187 { 
	width:23px;
	height:23px;
	position:absolute;
	left:820px;
	top:116px;
}
.ei235_187_235_154 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e235_189 { 
	width:23px;
	height:23px;
	position:absolute;
	left:517px;
	top:116px;
}
.ei235_189_235_154 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e262_138 { 
	color:rgba(159.96152132749557, 216.75000607967377, 145.76440393924713, 1);
	width:44px;
	height:11px;
	position:absolute;
	left:23px;
	top:142px;
	font-family:Arimo;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e262_139 { 
	border-radius:500px;
	background-color:rgba(159.96152132749557, 216.75000607967377, 145.76440393924713, 1);
	width:9px;
	height:9px;
	position:absolute;
	left:107px;
	top:144px;
}
.262_139 { 
	border:1px solid rgba(143.4375, 143.4375, 143.4375, 1);
}
